body {
  /*
    background: linear-gradient(90deg, #f97d7c 0%, #f9a77d 30%, #fad77d 60%, #faff7e 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    */
    background-color:rgb(250, 250, 242);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @font-face{
    src:url(/static/fonts/belgrano.ttf);
    font-family:belgrano;
  }
  
  @font-face{
    src:url(/static/fonts/type_writer.ttf);
    font-family:type_writer;
  }

  span.title{
    color:rgb(220, 220, 220);
    margin-left:5%;
    font-size:20px;
    font-family:belgrano;
    text-transform:uppercase;
   }
  
  a {
    color: #241679;
    text-decoration: none;
  }

  a:hover {
    text-decoration:underline;
  }
  
  figure > img {
    height: auto;
    width: 100%;
    text-align:center;
  }

  p:not(.footer-container > p){
    text-align:justify;
  }

  p.prompt{
    font-style:italic;
  }

  div.image-samples{
    text-align:center;
  }

  div.image-samples > figure {
    display: inline-block;
    margin: 0 10px 10px 0;
  }
  
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  figcaption {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom:1px;
    color:rgb(12, 51, 38);
    font-style:italic;
  }
  
  main {
    min-height: calc(100vh - 100px);
    padding: 20px;
  }
  
  footer {
    background-color: hwb(0 20% 80%);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    bottom:0;
    position:relative;
  }
  
  h1,h4,figcaption,h2.base-title{
    text-align:center;
  }

  .error{
    color:rgb(255, 0, 0);
    text-align:center;
    border-color:rgb(0, 128, 0);
    border-radius:30px solid rgb(255, 255, 0);
    padding:10px;
  }

  #image-container{
    display:inline-block;
    margin:5px;
    text-align:center;
  }

  img.from-api {
    max-width:320px;
    height:auto;
    margin:10px;
  }

  img.from-api:hover {
    transform: scale(1.05);
    transition: 1s;
  }

  img:hover {
    transform: scale(1.05);
    transition: 0.2s;
  }

form{
  text-align:center;
}

  textarea {
    width: 30px;
    max-width: 600px;
    min-width: 200px;
    height: 200px;
    max-height: 600px;
    min-height: 100px;
    resize: both;
    font-family:type_writer;
    font-size:15px;
    text-indent:1em;
    padding:10px;
    border-radius:20px;
  }

  input{
    margin:10px;
  }

  input:focus,textarea:focus{
    color:rgb(14, 162, 221);
    border-color:aqua;
  }

  textarea:hover,select:hover,input:hover{
    border:2px solid rgb(16, 139, 139);
  }

  input[type=number]{
    width:40px;
    height:14px;
    text-align:center;
    padding:3px;
    font-size:large;
  }

  select{
    width:90px;
    height:25px;
  }


  button.send{
    background-color:rgb(8, 155, 147);
    color:#f1f1f1;
    margin:10px;
    border-radius:8px;
    width:70px;
    font-size:16px;
  }

  button.send:hover{
    background-color:rgb(13, 243, 232);
    color:rgb(165, 42, 42);
    margin:10px;
    width:80px;
    font-size:17px;
  }
  
  
  @media screen and (min-width: 768px) {
    span.title{
      color:rgb(220, 220, 220);
      margin-left:35%;
      font-size:20px;
      font-family:belgrano;
      text-transform:uppercase;
     }
    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    div.image-samples > figure {
      margin: 0 20px 20px 0;
      display:inline-block;
    }
  
    h1 {
      font-size: 40px;
      margin-bottom: 30px;
    }
  
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
  
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  
    figcaption {
      font-size: 16px;
      margin-top: 15px;
    }

    figure > img {
        height: auto;
        max-width: 260px;
        text-align:center;
      }

    img.from-api {
        max-width:320px;
        margin-right:5px;
        height:auto;
      }

    footer {
      padding: 30px;
    }
  }

  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    overflow-y: hidden;
    transition: 0.5s;
 }
 
 .overlay-content {
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
 }
 
 .overlay a {
     padding: 8px;
     text-decoration: none;
     font-size: 36px;
     color: #818181;
     display: block;
     transition: 0.3s;
 }
 
 .overlay a:hover, .overlay a:focus {
     color: #f1f1f1;
 }
 
 .overlay .closebtn {
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 60px;
 }
 
 @media screen and (max-height: 450px){
   .overlay {overflow-y: auto;}
   .overlay a {font-size: 20px}
   .overlay .closebtn {
     font-size: 40px;
     top: 15px;
     right: 35px;
   }
 }

 .to-be-clicked{
  font-size:30px;
  cursor:pointer;
 }

 .header{
  position:sticky;
  top:0;
  width:100%;
  background-color:rgb(70, 161, 132);
 }
 
 div.header > img{
  width:37px;
  height:auto;
  float:right;
  margin-right:2%;
 }

 details > p,.introduction > p{
  text-indent:1em;
 }

 summary{
  font-weight:bold;
 }

 .overlay-content > a:hover {
  background-color:rgb(62, 172, 172);
  border-radius:20px;
  color:white;
 }

 .loader-multicolor {
  border: 16px solid rgb(243, 243, 243);
  border-radius: 50%;
  border-top: 16px solid rgb(0, 128, 128);
  border-right: 16px solid rgb(255, 255, 0);
  border-bottom: 16px solid rgb(64, 224, 208);
  border-left: 16px solid hsl(180, 100%, 50%);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear
  infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {

0% {-webkit-transform:rotate(0deg);}
100% { -webkit-transform:
rotate(360deg); }

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#menu-title{
  font-size:10px;
}

html,body{
  height:100% !important;
  margin:0;
}
