<details>
    <summary>
        Generate image with Bing's model
    </summary>
    <p class="further-info">
        The <a href='/v1/image/prompt'>image <strong>generations</strong> endpoint</a> allows you to create an image given a text prompt. Unlike the <a href="/v1/image/prompt">other feature,</a> you can generate high quality images upto 20 at a time. 
    </p>
    <p class="prompt">
        Advanced New york City in 2090.
    </p>
    <div class="image-samples">
        <figure>
            <img src="{{url_for('static',filename='image/bing_one.png')}}"/>
        </figure>
    </div>
    <p class="further-info">
        The more detailed the description, the more likely you are to get the result.
    </p>

</details>
