<details>
    <summary>
        Generate image from prompt
    </summary>
    <p class="further-info">
        The <a href='/v1/image/prompt'>image <strong>generations</strong> endpoint</a> allows you to create an original image given a text prompt. Generated images can have a size of 256x256, 512x512, or 1024x1024 pixels. Smaller sizes are faster to generate. You can request 1-10 images at a time.
    </p>
    <p class="prompt">
        A close up, studio photographic portrait of a white siamese cat that looks curious, backlit ears.
    </p>
    <div class="image-samples">
        <figure>
            <img src="{{url_for('static',filename='image/image_generation_detailed.webp')}}"/>
        </figure>
    </div>
    <p class="further-info">
        The more detailed the description, the more likely you are to get the result.
    </p>

</details>