<details>
    <summary>
        Generate variant of an image.
    </summary>
    <p class="further-info">
        The <a href="v1/image/variation">image <strong>variations</strong> endpoint</a> allows you to generate a variation of a given image.
    </p>
    <div class="image-samples">
        <figure>
            <figcaption>Original</figcaption>
            <img src="{{url_for('static',filename='image/image_variation_original.webp')}}" alt="original"/>
        </figure>
        <figure>
            <figcaption>Output</figcaption>
            <img src="{{url_for('static',filename='image/image_variation_output.webp')}}" alt="output"/>
        </figure>
    </div>
    <p class="further-info">
        Similar to the edits endpoint, the input image must be a square PNG image less than 4MB in size.
    </p>
</details>