<footer>
    <p style='font-size:60%;color:green;'>Powered By <a href="https://github.com/Simatwa">Simatwa</a> and <a href="https://github.com/KimutaiLawrence">Lawrence</a></p>
    <p style='font-size:60%;color:green;'>Contact us: info@ai-imager.com</p>
    <p style='font-size:60%;color:green;'>Follow us on social media: 
      <a href="https://twitter.com/lawrence_kim_">@lawrence_kim_</a>, 
      <a href="https://twitter.com/Smartwa_Caleb">@Smartwa_Caleb</a>, 
      <a href="https://www.instagram.com/age_ai._/">@age_ai._</a>
    </p>
  </footer>
  